@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    box-sizing: border-box;
}
body{
    background-color: rgba(5, 5, 37, 0.932);
    color: white;
    border: 0px;
}
.container-fluid {
    position: relative;
    font-family:'Raleway';
}
.topbar{
    background-color: rgba(7, 7, 61, 0.932);
    height: 100px;
} 
.topbar a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    color: white;
}
.topbar a:hover{
    color: rgb(73, 124, 84);
}
.social-links a {
    width: 50px;
    height: 50px;
    float: left;
}
.hero-container {
    top: 350px;
    left: 0px;
    position: relative;
    z-index: 2;
}
#hero h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 1000;
}
.text-type > .txt {
    border-right: 0.2rem solid #777;
  }
.carousel-inner img{
    height: 450px;
    width: 100px;
}
#about h1{
    text-align: center;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:8%;
    margin-right: 6%;
}
.col-md-4 img{
    width: 350px;
    height: 250px;
}
.portfolio h2{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    font-family: 'Raleway', serif;
}
#overlay1, #overlay2, #overlay3{
    display: none;
}
.row{
    position: relative;
}
.row h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.col-md-6{
    margin-left: 300px;
    text-align: center;
    font-family:'raleWay';
}
.col-md-6 p a {
    text-align: center;
    margin-right: 200px;
}
#contacts h1{
    font-size: 20px;
    background-color:black;
    color: white;
}
@media(max-width:800px){
    body{
        font-size: 15px;
    }
    #hero h1 {
        font-size: 1.5rem;
    }
    .col-md-6{
        margin-left: 0px;
    }
} 

